{% include 'base_templates/header.html' %}
{% load bootstrap4 %}


<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    <div class="flex-col bg-gray-800 h-screen w-screen flex items-center justify-center font-sans ">
        <div class="bg-gray-600 rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg md:max-w-2xl">
            <h1 class="text-center text-2xl mb-4 text-white">重置密码</h1>
            <div class="mb-4">
                  <h1 class="text-white mb-3">身份证</h1>
                  <input
                    class="border border-gray-800 focus:border-blue-500 rounded w-full py-2 px-3 mr-4 text-black"
                    placeholder="请输入身份证号码" type="text" name="ID_number"

                  />
              </div>
            <div class="mb-4">
                  <h1 class="text-white mb-3">工号</h1>
                  <input
                    class="border border-gray-800 focus:border-blue-500 rounded w-full py-2 px-3 mr-4 text-black"
                    placeholder="请输入工号" type="text" name="username"

                  />
              </div>
            <button type="submit" class="mt-3 bg-green-700 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                    确认
                </button>
            <div class="mt-10 justify-between flex ">
                <a class="text-white align-self-end" href="{% url 'account_login' %}">登陆</a>
            </div>
        </div>
    </div>
</form>
